/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.logoWiz-Wrapper {
  display: block;
  text-align: center;
  /* width: 100%; */
}

.logoWiz {
  font-size: 50px;
  font-weight: 300;
}
.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.img-wrapper img {
  width: 200px;
  height: 200px;
  margin: auto;

  margin: 20px;
}
.img-wrapper input {
  width: 200px;

  border: 1px dashed grey;
  height: 60px;
}
.img-wrapper button {
  width: 100px;
  margin-top: 20px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
}
